.event-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  background-color: #fffffe;
  margin: 30px 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

.event-card:hover {
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.12);
}

.event-card .more {
  margin-left: auto;
}

.event-card img {
  margin-right: 20px;
  border-radius: 10px;
}

.event-card .book {
  padding: 10px;
  background-color: #f2003d;
  color: #fffffe;
  border: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 140px;
  height: 60px;
  cursor: pointer;
}

.event-card .desc {
  max-width: 800px;
}
