.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 40px) 50px repeat(5, 40px) 50px repeat(4, 40px);
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
}

.grid-container .seat-type {
  grid-column: span 16;
  font-size: 24px;
  padding-top: 30px;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-container h3 {
  margin-top: 50px;
}

.book-container .book {
  padding: 10px;
  background-color: #f2003d;
  color: #fffffe;
  border: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 120px;
  height: auto;
  cursor: pointer;
  margin-top: 20px;
}
